body {
    width: 450px;
    min-height: 100px;
}

main {
    width: 401px;
    min-height: 100px;
    float: left;
    margin-bottom: -1px;
    border-right: 1px solid #ddd;
}

main.is-login-form-shown {
    width: 100%;
    border-right: none;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-form {
    padding: 10px 0;
}

.content-form {
    #padding-top: 10px;
}

.feedback-container, .logout-container {
    text-align: center;
}

.logout-container {
    margin-bottom: 10px;
}

.button-submit {
    width: 100%;
    #background-color: #A8C5E7;
}

.image-holder {
    height: 95px !important;
    text-align: center;
}

.category-list {
    margin-bottom: 10px;
}

.add-image-button {
    margin: 10px 0;
}

.submit-container {
    margin: 0 10px;
}

.image-container {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.submit-icon {
    float: left;
}

.list-header {
    margin-left: 10px;
}

.list-container {
    margin-top: 10px;
    margin-left: 10px;
    #max-height: 120px;
    max-height: 90px;
    overflow-y: auto;
}

.tree-list-container {
    margin-top: 15px;
    margin-left: 10px;
    max-height: 170px;
    overflow-y: auto;
}

.textarea-editable-container {
    margin-bottom: 2px;
}

.textarea-editable {
    width: 100%;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-weight: 500;
    line-height: 1.1;
    border-radius: 0;
}

.textarea-editable-title {
    font-size: 16pt;
}

.textarea-editable-first {
    margin-top: -1px;
    padding-top: 15px;
}

.textarea-editable-description {

}

.no-events {
    pointer-events: none;
}

.submission-notification {
    margin: 10px;
    padding: 8px;
    font-size: 12px;
}

.tab-switcher {
    border-radius: 0 !important;
}

.visuals-default-image-wrapper {
    margin: 15px 0;
}

.visuals-default-image-container {
    padding: 0;
    border: none;
}

.visuals-default-image-text-container {
    padding: 35px 0 0 0;
}

.visuals-label {
}

.visuals-image-remove {
    background-color: #337ab7;
}

.submit-button-text {
    vertical-align: text-top;
}

.tab-container {
    width: 50px;
    height: 100%;
    float: right;
    margin: -1px -1px 0 0;
}

.tab-button {
    width: 50px;
    height: 50px;
    border-left: none;
    border-radius: 0 !important;
    background-color: #fff !important;
    border-color: #ddd !important;
    font-size: 25px;
    text-align: center;
}

.tab-button.active {
    margin-left: -1px;
    border-right: none;
    color: #555 !important;
}

.tab-icon {
    vertical-align: text-top;
}
